body {
	background: url('../resources/grass.jpg');
	/*background-color: #43a40e;*/ 
}

.container-fluid {
	margin: 0px;
	padding: 0px;
}
/*-------------------*/

.compteur h2, .game, .end {
	display: none;
}

.compteur h2 {
	font-size:15em;
	text-align: center;
	margin-top: 100px;
}

.initial .forms {
	top: 50%;
	text-align: center;
	width: 500px;
	height: 100px;
	margin: auto;
	margin-top: 80px;
}

.initial .forms h2 {
	font-size: 3em;
}

.initial .forms input[type='text'] {
	margin-bottom: 10px;
}

------------------
.game {
	/*width: 2000px;*/
	/*height: 1500px;*/
	z-index: -5;
	/*background: url('resources/game.jpg') no-repeat;*/
}

.game .infos {
	display: block;
	position: fixed;
	width: 400px;
	height: 50px;
	right: 0px;
	background-color: rgba(255,255,255,0.5); /*Couleurs infos en haut rgba(100,100,100,0.3)*/
	z-index: 1;
	text-align: center;
}

.game .infos img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game .tower, .game .follow-tower, .game .monster {
	position: absolute;
	width: 60px;
	height: 60px;
	z-index: 1;
	text-align: center;
}

.game .tower img, .game .follow-tower img, .game .monster img {
	width: 60px;
	height: 60px;
}

.game .monster .progress-bar {
	margin-top: 5px;
}

.game .monster .progress-bar.target {
	background-color: green;
}

.game .monster .money {
	text-align: center;
	display: none;
}

.game .area {
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.2);
	z-index: 0;
}

.game .follow-tower {
	display: none;
}

.game .follow-tower .area {
	display: block;
}

.game .shot {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: black;
}

.game .parcours {
	position: absolute;
	z-index:0;
	cursor: not-allowed;
}

.game .parcours div {
	position: absolute;
	/*background-color: #b87306; couleurs parcours --*/ 
	background: url('../resources/terre2.png');
	opacity: 1;
	/*border: solid;*/
}

.game-constructor {
	width: 100%;
	height: 150px;
	position: fixed;
	bottom: 0px;
	background-color: rgba(255,255,255,0.9);
	z-index: 2;
	text-align: center;
	padding: 20px;
}

.game-constructor .tower img.tower {
	max-height: 70px;
}

.game-constructor .tower img.diamond {
	max-height: 30px;
	margin-top: -10px;
}

.game-constructor .tower.disabled {
	cursor: not-allowed;
	opacity: 0.7;
}

.game-constructor .infos {
    margin-top: -200px;
    margin-bottom: 20px;
    width: 100%;
    height: 180px;
    padding: 10px;
    background-color: rgba(255,255,255,0.9);
    display: none;
}

.game-constructor .infos p {
	font-size: 11pt;
}

.game .peon {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	background: url('../resources/builder.png') no-repeat;
}
.end .row {
	position: relative;
	background-color: rgba(0,0,0,0.9);
	text-align: center;
	padding-top: 200px;
	height: 100vh;
	top: 50%;
}

.end .row h2, .end .row h3, .end .row a {
	color: #fff;
}

.end .playerName {
	color: red;
}
#logoTD{
		width: 200px;

}